@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.wrapper {
  min-height: calc(100vh - 150px);
}

.footer {
  position: relative;
}
